body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    text-align:center;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.video-preview img{
    width:100%;
    max-width:600px;
    border-radius:12px;
    margin-top:20px;
}

.message{
    margin-top:20px;
    font-size:18px;
}
